<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">make account to see more</p>
      <form action="/register" method="post">
        <input name="email" type="email" placeholder="Email" class="detail" /><br />
        <input name="username" type="text" placeholder="Username" class="detail" />
        <input name="password" type="password" placeholder="Password" class="detail" />
        <input name="fullname" type="text" placeholder="Full Name" class="detail" />  
        <input type="submit" class="btn int" value="register Account">
      </form>

      <a href="/forgot" class="forgot">Forgot your password?</a href="/forgot">

      <p class="or">OR</p>
      <button class="btn fbk">
        <i
          class="fab fa-facebook fa-lg"
          style="color: white; padding-right: 10px"
        ></i
        ><a href="#">Continue with Facebook</a></button
      ><br />
      <button class="btn ggl">
        <i
          class="fab fa-google"
          style="color: rgb(11, 241, 22); padding-right: 10px"
        ></i
        ><a href="#">Continue with Google</a>
      </button>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login">Already on Pinterest? Sign up</a>
      </footer>
    </div>
  </div>
  <a href="" class="upbtn">Sign up</a href="">
</body>
</html>